<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IDE 7</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/codemirror.min.js" integrity="sha512-M1DpFDDFHNgGdgVsSkTP1sjfWC7mQFJM3obQo8gyKHbZmbmr95Kl9wPYa5T70BFQBi0+/TlcG6IZDLowJCbKBQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/clike/clike.min.js" integrity="sha512-PeD3V/6m5bFv3qyIVKgDh+huybMHjvsLWuW7ZH5WZsS+hY0pZNU24si/Yja/2D4c/ff++c6k1S240dKwhJEJzw==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/codemirror.min.css" integrity="sha512-xIf9AdJauwKIVtrVRZ0i4nHP61Ogx9fSRAkCLecmE2dL/U8ioWpDvFCAy4dcfecN72HHB9+7FfQj3aiO68aaaw==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/theme/ambiance.min.css" integrity="sha512-wVrMpCao81zIdzAM+fYyuF6BoUXjDO8le2mQXl4iVezdDSgZOCFtpm/AL3LZn9dqc3e4CloZfiZxhTp5UNpWIw==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>    
<!-- python -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/python/python.min.js" integrity="sha512-wWnd0mjQTkxcs4nTZyu9TqfeDbXghPYwndBrvzjmyAgNKX4rJ5xPirrescJZkVtrWHIb9//dMABkORz6FSJfYA==" crossorigin="anonymous"></script>  
<!-- php -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/php/php.min.js" integrity="sha512-i+JuurEwS1TBFIkaoI0KNhkdiR2yu5nAVdFJ/3Sm3BVbMIkq/1Nv/JsFGUZsqB4VKV6vj1wP5yi1aqyxenx2kw==" crossorigin="anonymous"></script>
<!-- ruby -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/ruby/ruby.min.js" integrity="sha512-0//lpj6tfH5BqYDhJTqFRdn91SO9jj4O94Vq85it+Vzve7iH0qPl144csWVPJPkLx8NDeqodokDzRZTiFveXxw==" crossorigin="anonymous"></script>
<!-- rust -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/rust/rust.min.js" integrity="sha512-g3Nhw36S0p4ZJQcky87D5M+vZbFvLrgsHWYltUy5IW0zKbvi8GlPRjJSo2CyUyQiU01Ier7u+rBABDs3BawKyQ==" crossorigin="anonymous"></script> -->
<!-- shell -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/shell/shell.min.js" integrity="sha512-XgDqDL1gXdiG/pLBnn7W+08Ajap6ycB3jVD0db1oBwtQevc1DIRvU3fotxsr58GvfzH2pi64roId2YkocyAPzQ==" crossorigin="anonymous"></script>
<!-- R -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/r/r.min.js" integrity="sha512-9nxkX/MyeqNOKu/FxA2dxRLX9BmgTxJYzX3cWyG4haAaUW7BlE9wHYX1lS498/z3nT0xpXDk+H2j8JmfyRUolg==" crossorigin="anonymous"></script>
<!-- go -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/mode/go/go.min.js" integrity="sha512-kupJkuZ93e3PdE7QBjCnPimhUe0iMetWIapKXt7ImHNpwhAH0O6KlOR2iS+7JxshgUqeTm+zv6O2bl+bN1zMBQ==" crossorigin="anonymous"></script>
<!-- nodejs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/addon/runmode/runmode.node.min.js" integrity="sha512-aakeAPHm9iQA+QBw9HmP20yIjf24o8kAxl8s1gpq9Asgg/pBjFaGbtIOx2Z6KkIx0X0/eC/kFXVga/d/me4GkA==" crossorigin="anonymous"></script>
<style>

#code{
        width: 100%;
        height: 100%; 
      box-sizing: border-box;
      }
  
      body{
        background-color: #1a1a1a;
      }
      ::-webkit-scrollbar {
      width: 8spx;
      border-color: #1a1a1a;
      }
      ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb {
      background: gray; 
      border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb:hover {
      background: white; 
      transition-duration: .3s;
      }
      body{
      background-color: #1a1a1a;
      }
      *{
      color: gray;
      user-select: none;
      }
      option,select,button{
      background-color: #0a0a0a; 
      border: 1px;
      color: gray;
      }
      select:hover{
      background-color: #3a3a3a; 
      border: 1px;
      color: white;
      }
      button{
      padding: 1px 20px;
      background-color: #0a0a0a; 
      border: 1px;
      color: gray;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      }
      button:hover{
      background-color: #3a3a3a; 
      border: 2px;
      color: white;
      }
  
      #input{
      width: 98%;
      height: 120px;
      padding: .2em;
      border:none;
      background-color: #2a2a2a;
      font-size: 120%;
      }
      ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-top: 20px;
      margin-right: 30px;
      }			
      li{
      padding: 5px;
      display: inline;
      margin: 5px;
      border: gray;
      }
      li:hover{
      background-color: #0a0a0a;
      }
      a{
      text-decoration: none;
      padding:2px;
      }
      a:hover{
      color: white;
      transition-duration: .4s;
      border: 1px white;
      }
      .text-button{
      cursor: pointer;
      }
  
      .container {
      display: inline;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      }
      .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      }
      .checkmark {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 15px;
      width: 15px;
      background-color: #eee;
      }
      .container:hover input ~ .checkmark {
      background-color: #7a7a7a;
      }
      .container input:checked ~ .checkmark {
      background-color: #0a0a0a;
      }
      .checkmark:after {
      content: "";
      position: absolute;
      display: none;
      }
      .container input:checked ~ .checkmark:after {
      display: inline;
      }
      .container .checkmark:after {
      left: 4.5px;
      top: 0px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2.5px 2.5px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      }
  
      #input:focus{
        outline: none;
        resize: none;
      }
      a{
        color: grey;
      }
  
</style>

  </head>
<body onload="exSetTitle('cpp')">
  <div class="nav">
    <ul align=right>
      <li><a href="#run">Run Code</a></li>
      <li><a href="api/">API</a></li>
      <!-- <li><a href="#">Contact</a></li> -->
      <li><a href="#">Theme</a></li>
      <!-- <li><a href="#">Privacy</a></li> -->
      <!-- <li><a href="#">Blog</a></li> -->
      <li><a href="about/">About</a></li>
    </ul>
  </div>

  <div class="row m-2">
    <div class="col">
      <h1 id="heading">compile visual studio c++ online</h1>
    </div>
  </div>


  <form action="/running" method="POST">
    <div class="row m-2">
      <!-- style="display: flex; justify-content:flex-end;" -->
      <div class="col-1" >
          <span>Language: </span>
      </div>
      <div class="col-1">
          <select class="langdropdown" id="selectedLanuage" name="language" onchange="setTitle(this.value)" >
            <option value="java"> Java  </option>
            <option value="c"> C  </option>
            <option value="c99"> C-99  </option>
            <option value="cpp" selected="selected" > C++  </option>
            <option value="cpp14" > C++ 14  </option>
            <option value="cpp17"> C++ 17  </option>
            <option value="php"> PHP  </option>
            <option value="perl"> Perl  </option>
            <option value="python2"> Python 2  </option>
            <option value="python3"> Python 3  </option>
            <option value="ruby"> Ruby  </option>
            <option value="go"> Go Lang  </option>
            <option value="bash"> Bash Shell  </option>
            <option value="csharp"> C#  </option>
            <option value="rust"> RUST  </option>
            <option value="r"> R Language  </option>
            <option value="nodejs"> NodeJS  </option>

            <!-- go -->
            <option value="scala"> Scala  </option>
            <option value="sql"> SQL  </option>
            <option value="pascal"> Pascal  </option>
            <option value="vbn"> VB.Net  </option>
            <option value="haskell"> Haskel  </option>
            <option value="objc"> Objective C  </option>
            <option value="swfit"> Swift  </option>
            <option value="brainfuck"> Brainf**k  </option>
            <option value="dart"> Dart  </option>
            <option value="coffeescript"> CoffeeScript  </option>
            <option value="kotlin"> Kotlin </option>
          </select>
      </div>
    </div>
    <div class="row m-2">
    <div class="col-10">
      <textarea name="code" id="code"><%= data.code %></textarea>
    </div>

    <div class="row mt-2">
      <div class="col-2">
          <button id='run' type="submit" onsubmit="Run()" >Run it</button> 
      </div>
      <div class="col-2">
          <button>Save it</button> 
      </div>
      <div class="col-2">
          <label class="container"> <input type="checkbox" checked="checked" name="compilerWarnings"> 
          Show compiler warnings
          <span class="checkmark"> </span>
          </label>
      </div>
      <div class="col-2" >
          <span class="text-button" id="showinput"  onclick="show_input()" >
          [+] Show input
          </span>    
          <span class="text-button" id="hideinput"  onclick="hide_input()" style="display: none;">
          [&minus;] Hide input
          </span>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-10">
          <textarea style='display: none; border:none;' id="input" name="input" placeholder="type you input here ...">
          <%= data.input %> 
          </textarea>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-3">
        <span> memory used: <%= result.body.memory %></span>
      </div>
      <div class="col-3">
        <span> cpuTime: <%= result.body.cpuTime %></span>
      </div>
      <div class="col-3">
        <span> statusCode: <%= result.body.statusCode %> </span>
      </div>
      <div class="row mt-2">
        <div class="col-10" id="output">
          <%= result.body.output %>
        </div>
      </div>
  
      </div>
    </div>
    

  </form>
 
  <footer class="bd-footer p-3 p-md-5 mt-5 text-center text-sm-start" style="background-color: #0a0a0a;">
    <div class="container">
      <ul class="bd-footer-links ps-0 mb-3">
        <li class="d-inline-block"><a href="https://github.com/sutharp777">GitHub</a></li>
        <li class="d-inline-block ms-3"><a href="https://twitter.com/sutharp777">Twitter</a></li>
        <li class="d-inline-block ms-3"><a href="https://www.linkedin.com/in/pradeep-suthar">LinkedIn</a></li>
        <li class="d-inline-block ms-3"><a href="/about">About</a></li>
      </ul>
      <p class="mb-0">
        Designed and built with all the love in the world by the <a href="#pradeep">Pradeep Suthar</a> 
      </p>
      <p class="mb-0">
        Currently v5.0.0-beta2. Code licensed
         <a href="https://opensource.org/licenses/MIT" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://github.com/sutharp777" target="_blank" rel="license noopener">author</a>.</p>
    </div>
  </footer>

  <script>
    var codeArea = document.getElementById('code');
      myCodeMirror = CodeMirror.fromTextArea(codeArea,{
        lineNumbers: true,
        mode: "clike",
        theme: 'ambiance',
        indentUnit: 4,
        matchBrackets: true,
        extraKeys: {
                "Tab": "indentMore", 
                "Shift-Tab": "indentLess"                
        }
      });
    myCodeMirror.setSize(null, window.innerHeight*.6);
    var lang = new Map();
    
    lang[ "java"] ="Java";
    lang[ "c"] ="C";
    lang[ "c99"] ="C-99";
    lang[ "cpp"] ="C++";
    lang[ "cpp14"] ="C++ 14";
    lang[ "cpp17"] ="C++ 17";
    lang[ "php"] ="PHP";
    lang[ "perl"] ="Perl";
    lang[ "python2"] ="Python 2";
    lang[ "python3"] ="Python 3";
    lang[ "ruby"] ="Ruby";
    lang[ "go"] ="Go Lang";
    lang[ "scala"] ="Scala";
    lang[ "bash"] ="Bash Shell";
    lang[ "sql"] ="SQL";
    lang[ "pascal"] ="Pascal";
    lang[ "csharp"] ="C#";
    lang[ "vbn"] ="VB.Net";
    lang[ "haskell"] ="Haskel";
    lang[ "objc"] ="Objective C";
    lang[ "swfit"] ="Swift";
    lang[ "brainfuck"] ="Brainf**k";
    lang[ "rust"] ="RUST";
    lang[ "r"] ="R Language";
    lang[ "dart"] ="Dart";
    lang[ "nodejs"] ="NodeJS";
    lang[ "coffeescript"] ="CoffeeScript";
    lang[ "kotlin"] ="Kotlin";

    function Run() {
      const runButton = document.getElementById('run')
      runButton.disabled = true;
      setTimeout(NormalizeRun,3000)
    }
    function NormalizeRun() {
      const runButton = document.getElementById('run')
      runButton.disabled = false;      
    }

    function show_input(){
        var show = document.getElementById("showinput");
        var hide = document.getElementById("hideinput");
        var input_field = document.getElementById("input");
        show.style.display = 'none';
        hide.style.display = 'inline';
        input_field.style.display = 'block';
    }
    
    function hide_input(){
        var show = document.getElementById("showinput");
        var hide = document.getElementById("hideinput");
        var input_field = document.getElementById("input");
        show.style.display = 'inline';
        hide.style.display = 'none';
        input_field.style.display = 'none';
    }
    function getDefaultCode(val){
      switch (val) {
        case 'c':
          return `//c\n\n#include <stdio.h>\n\nint main()\n{\n\tprintf("Hello, world!\\n");\n}`;
        case 'c99':
          return `//c\n\n#include <stdio.h>\n\nint main()\n{\n\tprintf("Hello, world!\\n");\n}`;
        case 'cpp':
          return `//g++  7.4.0\n\n#include <bits/stdc++.h>\nusing namespace std;\n\nint main()\n{\n\cout<<"Hello, world!\\n";\n}`;
        case 'cpp14':
          return `//c++14  7.4.0\n\n#include <bits/stdc++.h>\nusing namespace std;\n\nint main()\n{\n\cout<<"Hello, world!\\n";\n}`;
        case 'cpp17':
          return `//c++17  7.4.0\n\n#include <bits/stdc++.h>\nusing namespace std;\n\nint main()\n{\n\cout<<"Hello, world!\\n";\n}`;
        case 'java':
          return `//'main' method must be in a public class 'Main'.\n//openjdk version '11.0.5'\n\nimport java.util.*;\nimport java.lang.*;\n\npublic class Main\n{\n\tpublic static void main(String args[])\n\t{\n\t\tSystem.out.println("Hello, World!");\n\t}\n}`;
        case 'php':
          return `<?php //php 7.2.24\n\n\techo "Hello, world! "\n\n?>`;
        case 'python':
          return `#Python 2.7.17\n\nprint "Hello, world!"`;
      
        case 'python3':
          return `#Python 3.6.9\n\nprint ("Hello, world!")`;
      
        case 'R':
          return `#R version 3.4.4\n\nprint ("Hello, world!")`;
      
        case 'rust':
          return `//rustc 1.39.0\n\nfn main() {\n\tprintln!("Hello, world!");\n}`;
        case 'perl':
          return `#perl 5.26.1 \n\nprint "Hello World\n";`;
        case 'go':
          return `//go 1.10.4\n\npackage main\nimport "fmt"\n\nfunc main() {\n\tfmt.Printf("hello, world\n")\n}`;
        default:
          return '//type your code here ...';
      }
    }

    function exSetTitle(value) {
      document.title = "Compaile cpp online";

        document.getElementById('heading').innerHTML = document.title;

        if(localStorage.lang!=''){
          $('#selectedLanuage').value =localStorage.lang         
          myCodeMirror.setValue(localStorage.code);
        }
        else{
          localStorage.lang = value ='cpp';
          // localStorage.code = getDefaultCode(value);
          myCodeMirror.setValue(`//g++  7.4.0\n\n#include <bits/stdc++.h>\nusing namespace std;\n\nint main()\n{\n\cout<<"Hello, world!\\n";\n}`);
        }
    }

    function setTitle(value){

        document.title = "Compaile " + lang[value] +" online";
        document.getElementById('heading').innerHTML = document.title;
        if(localStorage.lang==value){          
          myCodeMirror.setValue(localStorage.code);
          myCodeMirror.setMode(value)
        }
        else{
          localStorage.lang = value;
          localStorage.code = getDefaultCode(value);        
          myCodeMirror.setValue(localStorage.code);
          myCodeMirror.setMode(value)
        } 

    }

  
  </script>

</body>
</html>